@use "reset.scss" as *;

@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");

body {
  font-family: "Raleway", sans-serif;
  background-color: black;
}

h1 {
  color: #74ff75;
  font-size: 30px;
  text-transform: uppercase;
  &.pink {
    color: #fa51d3;
  }
}
